<section>
  <h1>EXPENSES</h1>
  <div>
    <%= link_to 'LOG IN', new_user_session_path, class: "login-home" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "signup-home" %>
  </div>
</section>