<section class="home_container" style="background-image: url(<%= asset_path('blurred.jpg') %>)">

  <h1>GROUPS AND EXPENSES<span></h1>
  <div class="home_links">
    <%= link_to 'LOG IN', new_user_session_path, class: "home-login" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "home-signup" %>
  </div>
</section>