<h1>Editing group expense</h1>

<%= render "form", group_expense: @group_expense %>

<br>

<div>
  <%= link_to "Show this group expense", @group_expense %> |
  <%= link_to "Back to group expenses", group_expenses_path %>
</div>
