<div class="menu_bar">
  <%= render partial: 'partials/menu', locals: { title: 'Unauthorized', menu_path: root_path } %>
</div>

<section class="not_found">
  <button class="list_btn"><%= link_to 'Back to home page', root_path %></button>
</section>